<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projem.Properties.Settings.KullanıcıConnectionString"
            connectionString="Data Source=DESKTOP-SC03J1S\SQLEXPRESS;Initial Catalog=M303SalesDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Projem.Properties.Settings.KullanıcıConStriSmartpro"
            connectionString="Data Source=302--05;Initial Catalog=M303SalesDB;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>