
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}


@Html.Partial("Partial/SectionForm")

<section class="content">
    <div class="row">
        <div class="col-md-8">
                       
            @Html.Partial("Partial/CategoryForm")

            @Html.Partial("/Views/Shared/FormMessage.cshtml")


        </div>
    </div>
</section>