
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}
@model List<WareHouseProject.UI.Areas.Admin.Models.DTO.CategoryDTO>


@Html.Partial("Partial/SectionForm")
<br />
<br />
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Category List</h3>
                </div>
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                    <thead>
                                        <tr>
                                            <th>Category Name</th>
                                            <th>Description</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.CategoryName</td>
                                                <td>@item.Description</td>
                                                <td><a href="/Admin/Category/UpdateCategory/@item.ID" type="button" class="btn btn-block btn-warning">Update</a></td>
                                                <td><a href="/Admin/Category/DeleteCategory/@item.ID" type="button" class="btn btn-block btn-danger">Delete</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a href="/Admin/Category/AddCategory" type="button" style="float:right" class="btn btn-block btn-success">Create Category</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>