.enust{
	height: 110px;
	width: 100%;
	background: url('../images/enust-arka.png');
	float: left;
}
.ortala{
	height: auto;
	margin: auto;
	width: 985px;

}
.logo{
	width: 232px;
	height: 30px;
	float: left;
	margin-top: 50px;
}
.aramayeri
{
	float: right;
	margin-top: 70px;
	color: #fff;
}
.text{
	width: 280px;
	height: 25px;
	background-color: #e61f1f;
	border-radius:15px;
	color:  #f9b2a1;
	font-family: 'Cambria';
	font-size: 14px;
	padding-left: 20px;
	line-height: 25px;
	z-index: 99;
}
.ara_submit{
	float: right;
	width: 11px;
	height: 11px;
	background: url('../images/ara_submit.png') no-repeat;
	margin-left: -60px;
	margin-top: -19px;
	z-index: 899999;
	position: relative;
	margin-right: 10px;
	cursor: pointer;
}
.enust-alt
{
	float: left;
	width: 100%;
	height: 40px;
	background: #e61f1f;
}
.menu{
	float: left;
}
.anasayfa{
	width: auto;
	height: auto;
	float: left;
	line-height: 30px;
	margin-left: 14px;
	margin-top: 10px;


}
.menu_home_line{
	float: left;
	width: 2px;
	height: 37px;
	margin-top: 2px;
	margin-left: 10px;
	background: url('../images/menu_home_line.png') no-repeat;
}
.menu > ul{
	float: left;
	margin-top: 5px;

}
.menu > ul > li{
	float: left;
	width: auto;
	height: 20px;
	line-height: 23px;
	text-align: center;
	margin-left: 20px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.menu > ul > li > a{
	float: left;
	color: #fff;
	padding: 5px;
	font-family: 'Cambria';
	font-weight: bold;
	font-size: 17px;
	font-style: italic;
	letter-spacing: 0.5px;
}
.menu > ul > li:hover a{
	color: #000
}
.orta{
	width: 100%;
	float: left;
	height: auto;
	padding-bottom: 15px;
	background: url('../images/orta-arka.jpg');
}
.slider{
	float: left;
	width: 985px;
	height: 376px;
	overflow: hidden;
}
.slider ul{
	float: left;
	width: 985px;
	height: 376px;
}
.slider ul li{
	float: left;
	width: 985px;
	height: 376px;
}
.slider_degis_box{
	float: left;
	width: 985px;
	height: 10px;
}
.slider_degis_box ul {
	float: left;
	width: 985px;
	height: 10px;
}
.slider_degis_box ul li{
	float: left;
	width: 87px;
	height: 10px;
	margin-right: 3px;
	background: #373737;
	cursor: pointer;
}
.slider_degis_box ul li:last-child{
	float: left;
	width: 85px;
	height: 10px;
	margin-right: -4px;
}

.slider_degis_box ul li:hover{
	background: #e61f1f;
}
.slider_degis_box ul li.actt{
	background: #e61f1f;
}
.duyuru_box_bg{
	float: left;
	width: 986px;
	height: 101px;
	background: url('../images/duyuru_box_bg.png') no-repeat;
	margin-top: 20px;
}
.duyuru_baslik{
	float: left;
	width: auto;
	height: 50px;
	line-height: 50px;
	margin-left: 21px;
	color:  #27364d;
	font-family: 'Calibri';
	font-weight: bold;
	text-shadow: 0px 1px 1px #ccc;
	font-size: 17px
}
.duyuru_degis_bg{
	float: right;
	width: 51px;
	height: 38px;
	background: url('../images/duyuru_degis_bg.png') no-repeat;
	margin-right: 7px;
	margin-top: 7px;
}
.duyuru_degis_left{
	float: left;
	width: 24px;
	height: 38px;
	cursor: pointer;
	margin-left: 1px;
}
.duyuru_degis_right{
	float: left;
	width: 24px;
	height: 38px;
	cursor: pointer;
}
.duyuru{
	float: left;
	width: 910px;
	height: 20px;
	margin-top: 22px;
	margin-left: 18px;
	overflow: hidden;
}
.duyuru_icon{
	float: left;
	width: auto;
	height: auto;
	margin-left: 25px;
	margin-top: 20px;
}
.duyuru ul{
	float: left;
	width: 910px;
	height: 20px;
}
.duyuru ul li{
	float: left;
	width: 910px;
	height: auto;
}
.duyuru ul li a{
	float: left;
	color: #838d9b;
	font-size: 13px;
	font-family: 'Tahoma';
}
.icerik{
	float: left;
	width: 985px;
	height: auto;
	margin-top: 20px;


}
.icerik_1
{
	float:left;
	width: 482px;
	height: 254px;
	margin-bottom: 20px;
	border-radius:2px;
	
}
.icerik_1 a.ressss{
	width: 482px;
	height: 133px;
	float: left;
}
.icerik_2 a.ressss{
	width: 482px;
	height: 133px;
	float: left;
}
.icerik_3 a.ressss{
	width: 482px;
	height: 133px;
	float: left;
}
.icerik_4 a.ressss{
	width: 482px;
	height: 133px;
	float: left;
}
.icerik_2
{
	float:left;
	width: 482px;
	height: 254px;
	margin-left: 20px;
	border-radius:2px;
	margin-bottom: 20px;
	
}
.icerik_3
{
	float:left;
	width: 482px;
	height: 254px;
	
	border-radius:2px;
	
	
}
.icerik_4
{
	float:left;
	width: 482px;
	height: 254px;
	margin-left: 20px;
	border-radius:2px;
	
	
}
.icerik_yazi_baslik{
	float: left;
	margin-left: 20px;
	font-size: 17px;
	font-family: 'Cambria';
	font-weight: bold;
	margin-top: 15px;
		color: #27364d;
}
.icerik_yazi{
	float: left;
	margin-left: 20px;
	font-size: 15px;
	font-family: 'Cambria';
	margin-top: 5px;
	line-height: 20px;
	color: #27364d;
	margin-right: 20px;
	

}
.devamini-oku{
	color: #e83939;
}
.yazi{
	float: left;
	margin-top: -3px;
	width: 482px;
	height: 122px;
	background: url('../images/icerik-yazi-arkaplan.png');
}
.enalt{
	height: 80px;
	float: left;
	width: 100%;
	background: url('../images/enalt.png');

}
.enalt_yazi{
	float: left;
	line-height: 80px;
	font-family: 'Cambria';
	font-size: 16px;
	color: #7b7b7b;
}
.icon
{
	line-height: 80px;
	float: right;
	margin-right: 10px;
 	
}
.hakkimizda_box_bg{
	float: left;
	width: 985px;
	height: auto;
	padding-bottom: 25px;
	padding-top: 10px;
	background: url('../images/hakkimizda_box_bg.jpg') repeat;
}
.hakkimizda_box_bg_bottom{
	float: left;
	width: 985px;
	height: 11px;
	background: url('../images/hakkimizda_box_bg_bottom.jpg') no-repeat;
}
.ghg{
	float: left;
	width: 985px;
	height: 134px;

}
.hakkimizda_baslik{
	float: left;
	width: auto;
	height: auto;
	color: #27364d;
	font-family: 'Calibri';
	font-weight: bold;
	font-size: 20px;
	padding-left: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 27px;
	background: #fff;
	margin-top: 95px;
	margin-left: 5px;
}
.projeler_box{
	float: left;
	width: 970px;
	height: auto;
	margin-right:7px;
	margin-left: 7px;

}

.projeler_img_box{
	float: left;
	width: 303px;
	height: 173px;
	margin-top: 20px;
	margin-left: 16px;
	margin-bottom: -25px;

}
.iletisim{
	float: left;
	height: auto;
	width: 985px;
	margin-top: 20px;
}
.iletisim-baslik{
float: left;
margin-left: 20px;
color: #ba272d;
font-size: 25px;
font-family: 'Cambria';
}
.line{
	float: right;
	width: auto;
	height: auto;
	margin-top: 3px
}
.sol{

	float: left;
	width: 486px;
	height: auto;
	color: #555;
	font-size: 17px;
	font-family: 'Calibri';
	margin-left: 20px;
	margin-top: 20px;
	
	line-height: 50px;
}
.dikey-cizgi{
	float: left;
width: auto;
height: 315px;
margin-left: 20px;
margin-right: 20px;

}
.sag{
	float: left;
	height: auto;
	width: 438px;

}
.textbox{
	background-color: #C7C7C7;
	border-radius: 3px;
	width: 300px;
	height: 25px;
	margin-top: 10px;
	color: #353535;
	margin-left: 5px;
	padding: 10px;
	border: 1px solid #999393;
}.textarea{
	background-color: #C7C7C7;
	border-radius: 3px;
	width: 300px;
	height: 100px;
	margin-top: 10px;
color: #353535;
	margin-left: 5px;
		padding: 10px;
		border: 1px solid #999393;
}
.button{
	background-color: #555;
	border-radius: 3px;
	width: 100px;
	height: 40px;
	margin-top: 10px;
		color: #fff;
	margin-right: 112px;
	float: right;
	cursor: pointer;
	margin-top: -41px;

}.reset{
	background-color: #555;
	border-radius: 3px;
	width: 100px;
	height: 40px;
	margin-top: 10px;
		color: #fff;
	margin-right: 150px;
	float: left;
	cursor: pointer;
	margin-left: 95px;
}
.maps{
	float: left;
width: 970px;
border: 1px solid #7b7b7b;
height: 200px;
margin-top: 20px;
margin-left: 6px;
}