/************************************************************************************
768x959
*************************************************************************************/
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/************************************************************************************
480x767
*************************************************************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}

/************************************************************************************
479
*************************************************************************************/
@media only screen and (max-width: 479px) {
	
}